extends ../../layouts/default

//- INCLUDES
include ../../mixins/post
include ../../mixins/meetup-talk
include ../../mixins/advertisement

//- INTRO
block intro

	//- HERO
	if !competition
		h2.text-center You just deployed. Go add some data :)
	else
		article#hero.hero-meetup.hero-meetup--next
			
			//- Intro
			section.hero-intro.hero-intro--hasmask
				.hero-background
					//-img(src='/images/placeholders/sydney-1.jpg')
				.hero-intro-content
					h5.subtitle #{competition.state == 'active' ? 'Next' : 'Last'} Competition
					h1.title= competition.name
					p.byline: strong #{competition._.startDate.format('ddd, DD MMM YYYY')} &#8212; #{competition._.startDate.format('h:mma')} - #{competition._.endDate.format('h:mma')}
					p.byline #{competition.place} &#8212; 
						a(href='http://maps.google.com.au/?daddr=' + (competition.map || competition.place), target='_blank') Directions
				if competition.state === 'active'
					#react-hero-button
			//- Details
			section.hero-details: .container
				.row: .col-sm-10.col-sm-offset-1: .row
					
					//- Description
					.col-md-12
						h3.mb-1 The Competition
						.description!= competition.description

				//- Attending
				section.attending
					#react-attending

//- BODY
block content
	.page-content
		
		//- About
		article.section.section--featured.home-about: .container
			h2 Are you a startup co-founder? You need to join SoteTalent!
			.row: .col-sm-8.col-sm-offset-2
				p.lead SoteTalent is a crowd-investment platform that matches investors to early stage startups and talented people with business ideas. Guiding them through a common journey to business success, while applying blockchain technology and Artificial Intelligence.
			if !user
				.row: .col-sm-4.col-sm-offset-4
					a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps Join SoteTalent now
			p.mt-1
				a(href='/about') Learn more about SoteTalent
				|  &nbsp;&middot;&nbsp; 
				a(href='/members') Find other co-founders in SoteTalent
			p.mt-1: a(href="https://twitter.com/sotetalent", class="twitter-follow-button", data-show-count="true", data-size="large") Follow @sotetalent
//- JS
block js

	if competition
		script.
			SoteTalent.currentCompetitionId = !{JSON.stringify(competition.id)};
	if user
		script.
			SoteTalent.user = !{JSON.stringify(user)};

	//- REACT SCRIPTS
	script(src='/js/packages.js')
	script(src='/js/home.js')
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&libraries=places')
